/****************************************************
 _BASE.SCSS - Contained within this file are all your
 resets, varriables, mixins, and any utility classes                                            
****************************************************/
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase; }

p {
  font-size: 1em; }

.text-center {
  text-align: center; }

.text-underline {
  display: inline-block;
  border-bottom: 2px solid #17252a; }

.section-header {
  font-size: 2em; }

.clearfix {
  content: "";
  clear: both;
  display: table; }

@keyframes scaleY-display {
  from {
    transform: scaley(0); }
  to {
    transform: scaleY(1); } }

@keyframes scaleX-display {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }

@keyframes scaleX-hide {
  from {
    transform: scaleX(1); }
  to {
    transform: scaleX(0); } }

@keyframes opacity-show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes main-title {
  from {
    opacity: 0;
    left: 10%; }
  to {
    opacity: 1;
    left: 0; } }

@keyframes slide-left {
  from {
    opacity: 0;
    margin-left: 2em; }
  to {
    opacity: 1;
    margin-left: 0; } }

@keyframes slide-up {
  from {
    opacity: 0;
    margin-left: 2em; }
  to {
    opacity: 1;
    margin-left: 0; } }

@keyframes slide-left-display {
  from {
    display: none;
    opacity: 0;
    margin-left: 2em; }
  to {
    display: block;
    opacity: 1;
    margin-left: 0; } }

@keyframes slide-right-display {
  from {
    display: none;
    opacity: 0;
    margin-right: 2em; }
  to {
    display: block;
    opacity: 1;
    margin-left: 0; } }

@keyframes sub-title {
  from {
    opacity: 0;
    margin-right: 2em; }
  to {
    opacity: 1;
    margin-right: 0; } }

@keyframes box-anim {
  from {
    opacity: 0;
    margin-top: 3em; }
  to {
    opacity: 1;
    margin-top: 0; } }

/****************************************************
 _layout.scss - contains all the CSS that handles the
 layout, such as the container and any grid systems                                           
****************************************************/
* {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body,
html {
  height: 100%;
  margin: 0 auto;
  padding: 0px; }

body {
  background: #eee;
  font-family: "Oswald", sans-serif;
  font-weight: 300; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }

.logo {
  margin-bottom: 0.25em; }
  .logo a {
    text-decoration: none;
    color: #000; }

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 1s ease-in-out;
  display: none; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #17252a;
    transition: all 1s ease-in-out; }

.site-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0px; }

.social-links {
  opacity: 0;
  animation: opacity-show 1s forwards 1s;
  position: fixed;
  top: 50%;
  right: 5%; }
  .social-links .social-icon {
    color: #17252a;
    transition: 0.5s all ease-out; }
    .social-links .social-icon:hover {
      color: #3aafa9; }
  .social-links i {
    font-size: 2em;
    margin-bottom: 0.25em; }

.main-header {
  opacity: 0;
  margin-top: 1em;
  animation: opacity-show 1s forwards 1s;
  justify-content: space-between;
  align-items: center;
  position: relative; }

.main-nav {
  margin-bottom: 0;
  list-style: none;
  font-size: 1.1em; }
  .main-nav .nav-link .btn, .main-nav .nav-link .nav-btn, .main-nav .nav-link .btn-underline {
    padding-right: 0;
    margin-bottom: 0; }

.site-banner {
  height: 825px;
  width: 100%;
  display: none;
  position: relative; }
  .site-banner .center-logo {
    position: absolute;
    display: flex;
    height: 200px;
    width: 200px;
    z-index: 999;
    top: 312px;
    left: -100px; }
    .site-banner .center-logo .logo-text {
      font-size: 5em;
      color: #17252a; }
    .site-banner .center-logo .left-side {
      transform-origin: right;
      transform: scaleX(0);
      animation: scaleX-display 1s forwards 2s;
      width: 50%;
      background: #def2f1; }
    .site-banner .center-logo .right-side {
      transform-origin: left;
      transform: scaleX(0);
      animation: scaleX-display 1s forwards 2s;
      width: 50%;
      background: #3aafa9; }
  .site-banner .main-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    line-height: 1;
    bottom: 0;
    opacity: 0;
    animation: main-title 1s forwards 2s; }
    .site-banner .main-title h1 {
      font-size: 5em;
      font-weight: 900;
      margin-bottom: 0;
      margin-top: 0;
      color: #17252a; }
  .site-banner .sub-title {
    width: 100%;
    color: #def2f1;
    position: absolute;
    opacity: 0;
    animation: sub-title 1s forwards 2s;
    text-align: right;
    bottom: -5px;
    right: 0;
    z-index: 999; }
    .site-banner .sub-title h2 {
      margin: 0; }
  .site-banner .banner-left {
    background: #3aafa9;
    position: relative;
    color: #17252a;
    width: 50%;
    transform-origin: top;
    transform: scaleY(0);
    animation: scaleY-display 1s forwards 1s;
    padding: 1em;
    transition: 1s all ease-out; }
    .site-banner .banner-left .about-content {
      transition: 1s all ease-out;
      margin-top: 3em;
      width: 100%; }
      .site-banner .banner-left .about-content .about-left {
        width: 40%; }
        .site-banner .banner-left .about-content .about-left .about-me {
          border-left: 2px solid #17252a;
          padding-left: 1em;
          display: none;
          opacity: 0;
          animation: opacity-show 1s forwards 1s; }
          .site-banner .banner-left .about-content .about-left .about-me h3 {
            font-size: 1.25em;
            opacity: 0;
            animation: opacity-show 1s forwards 1.2s; }
        .site-banner .banner-left .about-content .about-left .personal-skills {
          margin-right: 3em; }
          .site-banner .banner-left .about-content .about-left .personal-skills .p-skill-header {
            display: none;
            opacity: 0;
            animation: opacity-show 1s forwards 1.6s; }
          .site-banner .banner-left .about-content .about-left .personal-skills .p-skill-col {
            display: none;
            opacity: 0;
            flex-basis: 30%; }
            .site-banner .banner-left .about-content .about-left .personal-skills .p-skill-col .p-skill i {
              font-size: 2.5em; }
            .site-banner .banner-left .about-content .about-left .personal-skills .p-skill-col .p-skill h3 {
              font-size: 1em; }
          .site-banner .banner-left .about-content .about-left .personal-skills .p-skill-col:nth-child(1) {
            animation: opacity-show 1s forwards 1.8s; }
          .site-banner .banner-left .about-content .about-left .personal-skills .p-skill-col:nth-child(2) {
            animation: opacity-show 1s forwards 2s; }
          .site-banner .banner-left .about-content .about-left .personal-skills .p-skill-col:nth-child(3) {
            animation: opacity-show 1s forwards 2.2s; }
      .site-banner .banner-left .about-content .about-right {
        display: none;
        opacity: 0;
        animation: opacity-show 1s forwards 2.4s;
        justify-content: center;
        align-items: center;
        width: 60%;
        transition: 2s all ease-out; }
        .site-banner .banner-left .about-content .about-right h1 {
          margin: 0; }
        .site-banner .banner-left .about-content .about-right .skillset {
          width: 100%; }
  .site-banner .banner-right {
    background: #def2f1;
    width: 50%;
    transform-origin: bottom;
    transform: scaleY(0);
    animation: scaleY-display 1s forwards 1s;
    transition: 1s all ease-out;
    padding: 1em; }
    .site-banner .banner-right .creation-content {
      height: 80%;
      display: none;
      align-content: center;
      justify-content: center;
      flex-direction: column; }
      .site-banner .banner-right .creation-content .box:nth-child(1) {
        animation: slide-left 1s forwards 1.4s; }
      .site-banner .banner-right .creation-content .box:nth-child(2) {
        animation: slide-left 1s forwards 1.6s; }
      .site-banner .banner-right .creation-content .box:nth-child(3) {
        animation: slide-left 1s forwards 1.8s; }

.main-footer {
  opacity: 0;
  animation: opacity-show 1s forwards 1s;
  color: #17252a;
  height: 150px; }

#lgMenu {
  width: 0px;
  height: 100%;
  top: 0;
  right: -400px;
  overflow: hidden;
  background-color: #eee;
  position: absolute;
  z-index: 999;
  transition: all 0.5s;
  -webkit-transition: all 0.5s; }
  #lgMenu .side-nav {
    height: 100%;
    width: 100%; }
    #lgMenu .side-nav ul {
      list-style: none;
      padding: 0; }
    #lgMenu .side-nav li {
      margin-bottom: 1em; }
  #lgMenu .social-links {
    display: flex;
    position: static; }
    #lgMenu .social-links i {
      margin: 0.25em; }

#exit {
  position: absolute;
  left: 10px;
  padding: 0px;
  top: -10px;
  font-size: 4em;
  color: #000;
  z-index: 999;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s;
  -webkit-transition: all 0.25s; }

#exit:hover {
  color: #3aafa9; }

#lgMenu.enter {
  opacity: 1;
  right: 0; }

/****************************************************
 _components.scss - anything reusable such as buttons,
 navbars, cards etc.                                          
****************************************************/
.banner-active {
  width: 100% !important; }

.banner-inactive {
  width: 30% !important; }

.hide-display {
  display: none !important; }

.opacity-hide {
  opacity: 0;
  transition: 1s ease-out; }

.flex {
  display: flex; }

.flex-col {
  flex-direction: column; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-center {
  justify-content: center;
  align-items: center; }

/* HOME BANNER */
.banner-link {
  position: relative;
  cursor: pointer;
  margin-top: 1em;
  margin-left: 2em;
  opacity: 0;
  animation: slide-left 1s forwards 3s;
  display: inline-block;
  z-index: 9999; }
  .banner-link h1 {
    display: inline-block;
    margin-bottom: 0; }
  .banner-link .fas {
    transition: 0.5s all ease-out;
    font-size: 1.25em;
    margin-left: 0.25em; }
  .banner-link h1::after {
    transition: 0.5s all ease-out;
    position: absolute;
    content: "";
    height: 3px;
    bottom: 0;
    left: 0;
    width: 50%;
    background: #17252a; }
  .banner-link:hover h1::after {
    position: absolute;
    content: "";
    height: 3px;
    bottom: 0;
    left: 0;
    width: 85%;
    background: #17252a; }
  .banner-link:hover .fas {
    transform: rotate(90deg); }

.skills-header {
  border-right: 2px solid #17252a;
  padding-right: 0.25em; }
  .skills-header .skill-title {
    font-size: 1em;
    text-align: center; }
    .skills-header .skill-title h3 {
      margin-top: 1.2em;
      margin-bottom: 0.8em; }

.bar-graph {
  width: 100%; }
  .bar-graph .skills-bar {
    width: 100%;
    height: 25px;
    margin-top: 1.5em;
    margin-bottom: 1em;
    background: #def2f1; }
    .bar-graph .skills-bar h3 {
      margin: 0;
      float: right; }
    .bar-graph .skills-bar .bar-capacity {
      display: inline-block;
      width: 0%;
      height: 25px;
      background: #17252a;
      transition: 1s all ease-out 1s; }

.box {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-left: 2px solid #17252a;
  padding-left: 1em;
  margin-bottom: 1.5em;
  opacity: 0;
  transition: 1s all ease-out;
  width: 80%;
  letter-spacing: 2px; }
  .box .box-head {
    font-size: 2em;
    transition: all 0.5s ease-out;
    margin-top: 0;
    margin-bottom: 0; }
  .box .box-text h3 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.5em; }

.btn, .nav-btn, .btn-underline {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  color: #3aafa9;
  cursor: pointer;
  transition: 0.5s all ease-out;
  padding: 0.25em 1em;
  border: 1px solid #3aafa9; }
  .btn:hover, .nav-btn:hover, .btn-underline:hover {
    background: #3aafa9;
    color: #def2f1; }

.nav-btn {
  border: none;
  color: #000; }
  .nav-btn:hover {
    background: none;
    color: #2b7a78; }

.btn-underline {
  text-decoration: underline;
  text-transform: capitalize;
  border: none;
  color: #000;
  padding-left: 0; }
  .btn-underline:hover {
    background: none;
    color: #3aafa9; }

.main-footer .footer-links a {
  font-size: 1.5em;
  color: #17252a;
  margin: 0.25em;
  text-decoration: none;
  transition: 0.5s all ease-out; }
  .main-footer .footer-links a:nth-child(1)::after {
    content: "/";
    font-size: 1em;
    color: #17252a;
    padding-left: 0.5em; }
  .main-footer .footer-links a:nth-child(2)::after {
    content: "/";
    font-size: 1em;
    color: #17252a;
    padding-left: 0.5em; }
  .main-footer .footer-links a:hover {
    color: #3aafa9; }

.main-footer h2 {
  margin-left: 1em; }

.contact-banner {
  margin-top: 2em;
  position: relative;
  height: 750px;
  width: 80%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/contact-banner.jpg") no-repeat center;
  background-size: cover;
  float: right;
  margin-bottom: 2em; }
  .contact-banner .banner-content {
    position: absolute;
    left: -25%;
    top: 20%;
    background: #17252a;
    width: 550px;
    height: 450px;
    color: #def2f1;
    text-align: left; }
    .contact-banner .banner-content h1 {
      font-size: 3em;
      text-align: center;
      margin-bottom: 0.25em; }
    .contact-banner .banner-content form textarea,
    .contact-banner .banner-content form input,
    .contact-banner .banner-content form label {
      margin-bottom: 0.5em; }
    .contact-banner .banner-content form .form-input {
      width: 50%; }
    .contact-banner .banner-content form .btn, .contact-banner .banner-content form .nav-btn, .contact-banner .banner-content form .btn-underline {
      background: none;
      border-color: #def2f1;
      color: #def2f1;
      font-size: 1em;
      margin-top: 0.5em;
      cursor: pointer; }
      .contact-banner .banner-content form .btn:hover, .contact-banner .banner-content form .nav-btn:hover, .contact-banner .banner-content form .btn-underline:hover {
        background: #def2f1;
        color: #17252a; }

.portfolio {
  min-height: 100%;
  width: 100%;
  margin-top: 5em;
  justify-content: center; }
  .portfolio .project {
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin: 1em;
    position: relative;
    transition: 0.25s all ease-out; }
    .portfolio .project .portfolio-img {
      position: absolute;
      height: 300px;
      width: 300px;
      transition: 0.25s all ease-out; }
    .portfolio .project .project-details {
      color: #def2f1;
      opacity: 0; }
      .portfolio .project .project-details h3 {
        margin-bottom: 0; }
      .portfolio .project .project-details .btn, .portfolio .project .project-details .nav-btn, .portfolio .project .project-details .btn-underline {
        border-color: #def2f1;
        color: #def2f1; }
        .portfolio .project .project-details .btn:hover, .portfolio .project .project-details .nav-btn:hover, .portfolio .project .project-details .btn-underline:hover {
          background: #def2f1;
          color: #17252a; }
    .portfolio .project:hover {
      background: #17252a; }
      .portfolio .project:hover .portfolio-img {
        opacity: 0; }
      .portfolio .project:hover .project-details {
        opacity: 1;
        z-index: 99; }
  .portfolio #projectTwo {
    background: url("../img/about-banner1.jpg") no-repeat center;
    background-size: cover; }
  .portfolio #projectThree {
    background: url("../img/banner.jpg") no-repeat center;
    background-size: cover; }
  .portfolio #projectFour {
    background: url("../img/contact-banner.jpg") no-repeat center;
    background-size: cover; }
  .portfolio #projectFive {
    background: url("../img/contact-banner-alt.jpg") no-repeat center;
    background-size: cover; }
  .portfolio #projectSix {
    background: url("../img/default-full-image.jpg") no-repeat center;
    background-size: cover; }

.site-banner .center-logo .left-side {
  background: #17252a; }
  .site-banner .center-logo .left-side .logo-text {
    color: #def2f1; }

.site-banner .center-logo .right-side {
  background: #def2f1; }
  .site-banner .center-logo .right-side .logo-text {
    color: #17252a; }

#leftBanner {
  background: #def2f1; }

#rightBanner {
  color: #def2f1;
  background: #17252a; }
  #rightBanner .banner-link {
    color: #def2f1; }
    #rightBanner .banner-link h1::after {
      background: #def2f1; }

.box {
  border-color: #def2f1; }

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .site-wrapper {
    width: 100%; }
  .main-nav {
    display: none; }
  .site-banner .main-title h1 {
    font-size: 4em; }
  .logo {
    margin-left: 0.5em; }
  .about-right .personal-skills {
    text-align: center; }
  .menu-btn {
    display: flex;
    flex-direction: column; }
  .social-links {
    display: none; }
  .contact-banner {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .contact-banner .banner-content {
      position: static;
      width: 450px;
      height: 450px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .site-banner {
    height: 100%;
    flex-direction: column; }
    .site-banner .main-title h1 {
      font-size: 3em; }
    .site-banner .center-logo {
      display: none; }
    .site-banner .banner-left {
      width: 100%;
      height: 800px; }
      .site-banner .banner-left .about-content .about-left {
        width: 350px; }
        .site-banner .banner-left .about-content .about-left .about-me {
          width: 350px; }
    .site-banner .banner-right {
      width: 100%;
      height: 800px; }
    .site-banner .banner-content {
      position: static; }
  .banner-inactive {
    width: 100% !important; }
  .about-banner {
    flex-direction: column;
    height: 100%; }
    .about-banner .about-img {
      width: 100%;
      height: 445px; }
    .about-banner .banner-content {
      height: 50%;
      width: 100%; }
      .about-banner .banner-content h1 {
        font-size: 3em;
        text-align: center;
        margin-bottom: 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .site-banner .banner-left {
    height: 1200px;
    position: static; }
    .site-banner .banner-left .about-content {
      flex-direction: column; }
      .site-banner .banner-left .about-content .about-left {
        width: 100%; }
        .site-banner .banner-left .about-content .about-left .about-me {
          width: 100%; }
        .site-banner .banner-left .about-content .about-left .personal-skills {
          width: 100%;
          justify-content: center;
          align-items: center; }
          .site-banner .banner-left .about-content .about-left .personal-skills div {
            width: 100%;
            justify-content: center;
            align-items: center; }
      .site-banner .banner-left .about-content .about-right {
        width: 100%; }
  .site-banner .banner-right {
    height: 800px; }
  .main-header {
    margin-top: 0; }
  .social-links {
    display: none; }
  .main-footer {
    flex-direction: column; }
    .main-footer h2 {
      margin-left: 0; }
  .banner-inactive {
    width: 100% !important; }
  .box {
    width: 100%; }
    .box .box-head {
      font-size: 1.5em; }
    .box .box-text {
      font-size: 1em; }
  .btn, .nav-btn, .btn-underline {
    font-size: 1em; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 500px) {
  .site-wrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden; }
  .site-banner .banner-left {
    height: 1200px; }
    .site-banner .banner-left .about-content .about-left .about-me h3 {
      font-size: 1.1em; }
    .site-banner .banner-left .about-content .about-left .personal-skills {
      margin-left: 0; }
      .site-banner .banner-left .about-content .about-left .personal-skills .p-skill i {
        font-size: 2em; }
  .site-banner .banner-right {
    height: 900px; }
  .box {
    width: 100%; }
    .box:nth-child(1) {
      margin-top: 3em; }
  .section-header {
    font-size: 1.75em; } }
