/****************************************************
 _BASE.SCSS - Contained within this file are all your
 resets, varriables, mixins, and any utility classes                                            
****************************************************/

// variables
$site-background: #eee;
$primary-color: #def2f1;
$secondary-color: #17252a;
// component item colors
$item-color: #3aafa9;
$dark-item-color: #2b7a78;
$white-text: #fff;
$dark-text: #000;
$off-white: #feffff;

// headers
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

p {
  font-size: 1em;
  //   line-s
}

// text utility classes
.text-center {
  text-align: center;
}

.text-underline {
  display: inline-block;
  border-bottom: 2px solid $secondary-color;
}

.section-header {
  font-size: 2em;
}

// float clear-fix
.clearfix {
  content: "";
  clear: both;
  display: table;
}

//keyframes
@keyframes scaleY-display {
  from {
    display: none;
    transform: scaley(0);
  }
  to {
    display: flex;
    transform: scaleY(1);
  }
}

@keyframes scaleX-display {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes scaleX-hide {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

@keyframes opacity-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes main-title {
  from {
    opacity: 0;
    left: 10%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    margin-left: 2em;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes slide-up {
  from {
    opacity: 0;
    margin-left: 2em;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes slide-left-display {
  from {
    display: none;
    opacity: 0;
    margin-left: 2em;
  }
  to {
    display: block;
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes slide-right-display {
  from {
    display: none;
    opacity: 0;
    margin-right: 2em;
  }
  to {
    display: block;
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes sub-title {
  from {
    opacity: 0;
    margin-right: 2em;
  }
  to {
    opacity: 1;
    margin-right: 0;
  }
}

@keyframes box-anim {
  from {
    opacity: 0;
    margin-top: 3em;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
