/****************************************************
 _components.scss - anything reusable such as buttons,
 navbars, cards etc.                                          
****************************************************/
// colors

// banner width increase
.banner-active {
  width: 100% !important;
}

.banner-inactive {
  width: 45% !important;
}

.hide-display {
  display: none !important;
}

// display element (opacity: 1)
.opacity-hide {
  opacity: 0;
  transition: 1s ease-out;
}
//flexbox
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/* HOME BANNER */
// banner link
.banner-link {
  position: relative;
  cursor: pointer;
  margin-top: 1em;
  margin-left: 2em;
  opacity: 0;
  animation: slide-left 1s forwards 3s;
  display: inline-block;
  z-index: 9999;

  h1 {
    display: inline-block;
    margin-bottom: 0;
  }
  .fas {
    transition: 0.5s all ease-out;
    font-size: 1.25em;
    margin-left: 0.25em;
  }
  h1::after {
    transition: 0.5s all ease-out;
    position: absolute;
    content: "";
    height: 3px;
    bottom: 0;
    left: 0;
    width: 50%;
    background: $secondary-color;
  }
  &:hover {
    h1::after {
      position: absolute;
      content: "";
      height: 3px;
      bottom: 0;
      left: 0;
      width: 85%;
      background: $secondary-color;
    }
    .fas {
      transform: rotate(90deg);
    }
  }
}

// left-banner
.skills-header {
  border-right: 2px solid $secondary-color;
  padding-right: 0.25em;
  .skill-title {
    font-size: 1em;
    text-align: center;
    h3 {
      margin-top: 1.5em;
    }
  }
}

// technical skills
.bar-graph {
  width: 100%;
  .skills-bar {
    width: 100%;
    height: 30px;
    margin-top: 1.5em;
    margin-bottom: 1.25em;
    background: $primary-color;
    h3 {
      margin: 0;
      float: right;
    }

    .bar-capacity {
      display: inline-block;
      width: 0%;
      height: 30px;
      background: $secondary-color;
      transition: 1s all ease-out 1s;
    }
  }
}

// right-banner
.box {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-left: 2px solid $secondary-color;
  padding-left: 1em;
  margin-bottom: 1.5em;
  opacity: 0;
  transition: 1s all ease-out;
  // width: 600px;
  letter-spacing: 2px;
  .box-head {
    font-size: 2em;
    transition: all 0.5s ease-out;
    margin-top: 0;
    margin-bottom: 0;
  }
  .box-text {
    animation: slide-left-display 1s forwards 2s;
    h3 {
      font-size: 1em;
      margin-top: 0;
      margin-bottom: 0.5em;
    }
  }
}

//buttons

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  color: $item-color;
  cursor: pointer;
  transition: 0.5s all ease-out;
  padding: 0.25em 1em;
  border: 1px solid $item-color;
  &:hover {
    background: $item-color;
    color: $primary-color;
  }
}

.nav-btn {
  @extend .btn;
  border: none;
  color: $dark-text;
  &:hover {
    background: none;
    color: $dark-item-color;
  }
}

.btn-underline {
  @extend .btn;
  text-decoration: underline;
  text-transform: capitalize;
  border: none;
  color: $dark-text;
  padding-left: 0;
  &:hover {
    background: none;
    color: $item-color;
  }
}

.footer-links {
  a {
    font-size: 1.5em;
    color: $secondary-color;
    margin: 0.25em;
    text-decoration: none;
    transition: 0.5s all ease-out;
    &:nth-child(1)::after {
      content: "/";
      font-size: 1em;
      color: $secondary-color;
      padding-left: 0.5em;
    }
    &:nth-child(2)::after {
      content: "/";
      font-size: 1em;
      color: $secondary-color;
      padding-left: 0.5em;
    }
    &:nth-child(3)::after {
      content: "/";
      font-size: 1em;
      color: $secondary-color;
      padding-left: 0.5em;
    }
    &:hover {
      color: $item-color;
    }
  }
}
