/****************************************************
 _components.scss - anything reusable such as buttons,
 navbars, cards etc.                                          
****************************************************/
// colors

// banner width increase
.banner-link-click {
  width: 100% !important;
}

.hide-display {
  display: none !important;
}

// display element (opacity: 1)
.opacity-hide {
  opacity: 0;
  transition: 1s ease-out;
}
//flexbox
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/* HOME BANNER */
// banner link
.banner-link {
  position: relative;
  cursor: pointer;
  margin-top: 1em;
  margin-left: 2em;
  opacity: 0;
  animation: slide-left 1s forwards 3s;
  display: inline-block;
  z-index: 9999;

  h1 {
    margin-bottom: 0;
  }
  h1::after {
    transition: 0.5s all ease-out;
    position: absolute;
    content: "";
    height: 3px;
    bottom: 0;
    left: 0;
    width: 70%;
    background: $dark-blue;
  }
  h1:hover {
    &::after {
      position: absolute;
      content: "";
      height: 3px;
      bottom: 0;
      left: 0;
      width: 100%;
      background: $dark-blue;
    }
  }
}

// left-banner
.skills-header {
  border-right: 2px solid $dark-blue;
  padding-right: 0.25em;
  .skill-title {
    font-size: 1em;
    text-align: center;
    h3 {
      margin-top: 0.7em;
    }
  }
}

.bar-graph {
  width: 100%;
  .skills-bar {
    width: 100%;
    height: 30px;
    margin-top: 1em;
    margin-bottom: 0.75em;
    background: $box-color1;
    h3 {
      margin: 0;
      float: right;
    }

    .bar-capacity {
      display: inline-block;
      width: 0%;
      height: 30px;
      background: $paper;
      transition: 1s all ease-out 1s;
    }
  }
}

// right-banner
.box {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 600px;
  margin-top: 3em;
  border-left: 2px solid $dark-blue;
  padding-left: 1em;
  margin-left: 2em;
  opacity: 0;
  transition: 1s all ease-out;
  letter-spacing: 4px;
  .box-head {
    font-size: 2em;
    transition: all 0.5s ease-out;
    margin-top: 0;
    margin-bottom: 0;
  }
  .box-text {
    animation: slide-left-display 1s forwards 1.5s;
    h3 {
      font-size: 1em;
    }
  }
}

//buttons

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  color: $btn-color;
  cursor: pointer;
  transition: 0.5s all ease-out;
  padding: 0.5em 1em;
  border: 1px solid $btn-color;
  &:hover {
    background: $btn-color;
    color: $white-text;
  }
}

.nav-btn {
  @extend .btn;
  border: none;
  color: $dark-text;
  &:hover {
    background: none;
    color: $dark-btn-color;
  }
}

.btn-underline {
  @extend .btn;
  text-decoration: underline;
  text-transform: capitalize;
  border: none;
  color: $dark-text;
  padding-left: 0;
  &:hover {
    background: none;
    color: $btn-color;
  }
}

.footer-links {
  .btn-underline {
    // margin: 1em;
    text-decoration: none;
  }
}
