/****************************************************
 _layout.scss - contains all the CSS that handles the
 layout, such as the container and any grid systems                                           
****************************************************/

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body,
html {
  height: 100%;
  margin: 0 auto;
  padding: 0px;
  // overflow-x: hidden;
}
body {
  background: $site-background;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.logo {
  a {
    text-decoration: none;
    color: $dark-text;
  }
}

.menu-btn {
  position: absolute; //we want it exactly where we want it to be
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 1s ease-in-out;
  display: none;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: $secondary-color;
    transition: all 1s ease-in-out;
  }
}

.site-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0px;
}

.social-links {
  opacity: 0;
  animation: opacity-show 1s forwards 1s;
  position: fixed;
  top: 50%;
  right: 5%;

  .social-icon {
    color: $secondary-color;
    transition: 0.5s all ease-out;
    &:hover {
      color: $item-color;
    }
  }
  i {
    font-size: 2em;
    margin-bottom: 0.25em;
  }
}

//header
.main-header {
  opacity: 0;
  animation: opacity-show 1s forwards 1s;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 0;
  position: relative;
}
.main-nav {
  list-style: none;
  font-size: 1.1em;
  .nav-link {
    .btn {
      padding-right: 0;
    }
  }
}

//site banner
.site-banner {
  height: 850px;
  width: 100%;
  display: none;
  position: relative;
  .center-logo {
    position: absolute;
    display: flex;
    height: 200px;
    width: 200px;
    z-index: 999;
    top: 312px;
    left: -100px;
    .logo-text {
      font-size: 5em;
      color: $secondary-color;
    }
    .left-side {
      transform-origin: right;
      transform: scaleX(0);
      animation: scaleX-display 1s forwards 2s;
      // height: 100%;
      width: 50%;
      background: $primary-color;
    }
    .right-side {
      transform-origin: left;
      transform: scaleX(0);
      animation: scaleX-display 1s forwards 2s;
      // height: 100%;
      width: 50%;
      background: $item-color;
    }
  }

  .main-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    line-height: 1;
    bottom: 0;
    opacity: 0;
    animation: main-title 1s forwards 2s;
    h1 {
      font-size: 5em;
      font-weight: 900;
      margin-bottom: 0;
      margin-top: 0;
      color: $secondary-color;
    }
  }

  .sub-title {
    width: 100%;
    color: $primary-color;
    position: absolute;
    opacity: 0;
    animation: sub-title 1s forwards 2s;
    text-align: right;
    bottom: -5px;
    right: 0;
    z-index: 999;
    h2 {
      margin: 0;
    }
  }

  .banner-left {
    background: $item-color;
    position: relative;
    color: $secondary-color;
    width: 50%;
    transform-origin: top;
    transform: scaleY(0);
    animation: scaleY-display 1s forwards 1s;
    // height: 100%;
    padding: 1em;
    transition: 1s all ease-out;

    // about me description
    .about-content {
      transition: 1s all ease-out;
      margin-top: 3em;
      width: 100%;
      .about-left {
        width: 40%;
        .about-me {
          border-left: 2px solid $secondary-color;
          padding-left: 1em;
          // width: 500px;
          display: none;
          opacity: 0;
          animation: opacity-show 1s forwards 1s;

          h3 {
            font-size: 1.25em;
            opacity: 0;
            animation: opacity-show 1s forwards 1.2s;
          }
        }

        .personal-skills {
          margin-right: 3em;

          .p-skill-header {
            display: none;
            opacity: 0;
            animation: opacity-show 1s forwards 1.6s;
          }

          .p-skill-col {
            display: none;
            opacity: 0;
            flex-basis: 30%;

            .p-skill {
              i {
                font-size: 2.5em;
              }
              h3 {
                font-size: 1em;
              }
            }
          }
          .p-skill-col:nth-child(1) {
            animation: opacity-show 1s forwards 1.8s;
          }
          .p-skill-col:nth-child(2) {
            animation: opacity-show 1s forwards 2s;
          }
          .p-skill-col:nth-child(3) {
            animation: opacity-show 1s forwards 2.2s;
          }
        }
      }
      .about-right {
        display: none;
        opacity: 0;
        animation: opacity-show 1s forwards 2.4s;

        justify-content: center;
        align-items: center;
        // width: 450px;
        width: 60%;
        transition: 2s all ease-out;
        h1 {
          margin: 0;
        }
        .skillset {
          // increase the technical skills section to 100%
          width: 100%;
        }
      }
    }
  }

  .banner-right {
    // position absolute change width incease direction to the left instead
    // position: absolute;
    // top: 0;
    // right: 0;
    background: $primary-color;
    width: 50%;
    // height: 100%;
    transform-origin: bottom;
    transform: scaleY(0);
    animation: scaleY-display 1s forwards 1s;
    transition: 1s all ease-out;
    padding: 1em;
    .creation-content {
      height: 80%;
      display: none;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      .box:nth-child(1) {
        animation: slide-left 1s forwards 1.4s;
      }
      .box:nth-child(2) {
        animation: slide-left 1s forwards 1.6s;
      }
      .box:nth-child(3) {
        animation: slide-left 1s forwards 1.8s;
      }
    }
  }
}

.main-footer {
  opacity: 0;
  animation: opacity-show 1s forwards 1s;
  color: $secondary-color;
  height: 150px;
}

// side navigation
#lgMenu {
  width: 0px;
  height: 100%;
  top: 0;
  right: -400px;
  overflow: hidden;
  background-color: $site-background;
  position: absolute;
  //   opacity: 0;
  z-index: 999;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;

  .side-nav {
    height: 100%;
    width: 100%;

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin-bottom: 1em;
    }
  }

  .social-links {
    display: flex;
    position: static;
    i {
      margin: 0.25em;
    }
  }
}

#exit {
  position: absolute;
  left: 10px;
  padding: 0px;
  top: -10px;
  font-size: 4em;
  color: $dark-text;
  z-index: 999;

  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}
#exit:hover {
  color: $item-color;
}

#lgMenu.enter {
  opacity: 1;
  right: 0;
}
