/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main-nav {
    display: none;
  }
  .menu-btn {
    display: flex;
    flex-direction: column;
  }

  // subpages
  .contact-banner {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    .banner-content {
      position: static;

      width: 450px;
      height: 450px;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .site-banner {
    min-height: 100%;
    height: 100%;
    flex-direction: column;

    .main-title {
      top: 0;
      right: 0;
      flex-direction: row;
      justify-content: center;
      h1 {
        font-size: 3em;
      }
    }

    .center-logo {
      display: none;
    }
    .banner-left {
      width: 100%;
      .about-content {
        .about-left {
          width: 350px;
          .about-me {
            width: 350px;
          }
        }
      }
    }
    .banner-right {
      width: 100%;
    }
    .banner-content {
      position: static;
    }
  }
  .site-wrapper {
    width: 100%;
  }
  .social-links {
    display: none;
  }

  .box {
    margin-top: 0;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
    border-left: none;
    .box-head {
      border-bottom: 2px solid $dark-blue;
    }
  }
  .box-text {
    text-align: center;
  }

  // subpages
  .about-banner {
    flex-direction: column;
    height: 100%;
    .about-img {
      width: 100%;
      height: 445px;
    }
    .banner-content {
      height: 50%;
      width: 100%;
      //   flex-direction: row;
      h1 {
        font-size: 3em;
        text-align: center;
        margin-bottom: 0;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 500px) {
  .site-banner {
    .banner-left {
      .about-content {
        flex-direction: column;
        .about-right {
          width: 100%;
        }
      }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
