/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  // layout
  .site-wrapper {
    width: 100%;
  }
  .main-nav {
    display: none;
  }

  .site-banner {
    .main-title {
      h1 {
        font-size: 4em;
      }
    }
  }

  .logo {
    margin-left: 0.5em;
  }

  .about-right {
    .personal-skills {
      text-align: center;
    }
  }
  .menu-btn {
    display: flex;
    flex-direction: column;
  }

  .social-links {
    display: none;
  }

  // subpages
  .contact-banner {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    .banner-content {
      position: static;

      width: 450px;
      height: 450px;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  // layout
  .site-banner {
    // min-height: 100%;
    height: 100%;
    flex-direction: column;

    .main-title {
      h1 {
        font-size: 3em;
      }
    }

    .center-logo {
      display: none;
    }
    .banner-left {
      width: 100%;
      height: 800px;
      .about-content {
        .about-left {
          width: 350px;
          .about-me {
            width: 350px;
          }
        }
      }
    }
    .banner-right {
      width: 100%;
      height: 800px;
    }
    .banner-content {
      position: static;
    }
  }

  // component

  .banner-inactive {
    width: 100% !important;
  }

  // subpages
  .about-banner {
    flex-direction: column;
    height: 100%;
    .about-img {
      width: 100%;
      height: 445px;
    }
    .banner-content {
      height: 50%;
      width: 100%;
      //   flex-direction: row;
      h1 {
        font-size: 3em;
        text-align: center;
        margin-bottom: 0;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  // layout
  .site-banner {
    .banner-left {
      height: 1200px;
      position: static;
      .about-content {
        flex-direction: column;
        .about-left {
          width: 100%;
          .about-me {
            width: 100%;
          }
          .personal-skills {
            width: 100%;
            justify-content: center;
            align-items: center;
            div {
              width: 100%;
              justify-content: center;
              align-items: center;
            }
          }
        }
        .about-right {
          width: 100%;
        }
      }
    }
    .banner-right {
      height: 800px;
    }
  }

  .main-header {
    margin-top: 0;
  }

  .social-links {
    display: none;
  }

  // footer
  .main-footer {
    flex-direction: column;
    h2 {
      margin-left: 0;
    }
  }

  // components

  .banner-inactive {
    width: 100% !important;
  }
  .box {
    width: 100%;
    .box-head {
      font-size: 1.5em;
    }
    .box-text {
      font-size: 1em;
    }
  }
  .btn {
    font-size: 1em;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 500px) {
  .site-wrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }

  .site-banner {
    .banner-left {
      height: 1200px;
      .about-content {
        .about-left {
          .about-me {
            h3 {
              font-size: 1.1em;
            }
          }
          .personal-skills {
            margin-left: 0;
            .p-skill {
              i {
                font-size: 2em;
              }
            }
          }
        }
      }
    }
    .banner-right {
      height: 900px;
    }
  }

  // component

  .box {
    width: 100%;
    &:nth-child(1) {
      margin-top: 3em;
    }
  }

  // utility

  .section-header {
    font-size: 1.75em;
  }
}
